@model Lesson

<div class="container my-4 bg-light p-4 rounded shadow">
    <h3>@Model.Title</h3>
    <p>@Model.Description</p>

    <form method="post" asp-action="QuizResult">
   
        @foreach (var question in Model.LessonQuiz.QuizQuestions) 
        {
            <div class="mb-3">
                <h5>@question.QuestionText</h5>
                @foreach (var answer in question.QuizAnswers) 
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer_@question.QuestionId" value="@answer.AnswerId" id="answer_@answer.AnswerId">
                        <label class="form-check-label" for="answer_@answer.AnswerId">
                            @answer.AnswerText
                        </label>
                    </div>
                }
            </div>
        }

        <button type="submit" class="btn btn-primary" onclick="result()" >Submit Quiz</button>
    </form>
</div>



<script>
</script>



@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

